In [1]:
import pandas as pd

In [2]:
low_memory = False
df=pd.read_csv("census2011.csv")
df[['Person ID','Family Composition', 'Population Base', 'Sex', 'Age',
    'Marital Status','Student', 'Country of Birth', 'Health', 'Ethnic Group',
    'Religion', 'Economic Activity', 'Occupation', 'Industry', 'Hours worked per week', 'Approximated Social Grade']]= df[['Person ID','Family Composition', 'Population Base', 'Sex', 'Age',
    'Marital Status','Student', 'Country of Birth', 'Health', 'Ethnic Group',
    'Religion', 'Economic Activity', 'Occupation', 'Industry', 'Hours worked per week', 'Approximated Social Grade']].apply(pd.to_numeric, errors='coerce')

/usr/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,tyrtyr,H,2,1,2,6,2.0,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,Hdasdas,5,1,1,4,1.0,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,343,1,2,4,1.0,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,111,2,2,1.0,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,0,5,4.0,2,1,1,1,2,1,1,4,3,2
5,7394750,E12000001,H,2,1,1,-6,2.0,2,1,2,1,1,1,9,2,3,3
6,7394871,E12000001,H,5,1,2,4,NaN,2,1,2,1,1,1,6,11,2,3
7,7394832,E12000001,H,3,1,2,1,1.0,765,1,2,1,1,-9,-9,-9,-9,-9
8,7394719,E12000001,H,2,1,1,7,2.0,2,657,1,1,2,5,8,2,-9,2
9,7394840,E12000001,H,1,1,2,6,4.0,2,1,426,1,2,5,9,5,-9,4
10,7394510,E12000001,H,1,1,1,3,1.0,2,1,3,434,8,1,8,2,3,4
11,7394711,E12000001,H,2,1,1,1,1.0,1,1,1,1,656,-9,-9,-9,-9,-9
12,7395070,E12000001,H,1,1,2,2,1.0,2,1,1,1,2,-20,7,2,3,2
13,7394869,E12000001,H,1,1,2,2,1.0,1,1,2,1,1,4,423,-9,-9,2
14,7394971,E12000001,H,5,1,2,2,1.0,2,1,2,1,2,1,7,0,2,4
15,7395019,E12000001,H,1,1,2,2,1.0,1,1,2,1,1,4,7,6,856,2
16,7395069,E12000001,H,3,1,1,2,1.0,2,1,1,1,1,2,8,3,4,42
17,7394933,E12000001,H,3,1,1,2,1.0,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1.0,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1.0,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2.0,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4.0,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2.0,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2.0,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1.0,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1.0,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2.0,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1.0,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1.0,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2.0,2,1,1,1,2,1,8,10,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569712,7945525,W92000004,H,2,1,2,6,2.0,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2.0,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1.0,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1.0,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1.0,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2.0,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1.0,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1.0,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2.0,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2.0,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1.0,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1.0,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2.0,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1.0,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1.0,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1.0,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2.0,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1.0,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1.0,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2.0,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1.0,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4.0,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3.0,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1.0,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1.0,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1.0,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1.0,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5.0,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2.0,2,1,2,1,1,1,7,4,1,4
569741,7944959,W92000004,H,2,1,2,2,2.0,2,1,2,1,1,1,7,4,1,4

In [4]:
len(df)

569742

In [5]:
df.dtypes

Person ID                      int64
Region                        object
Residence Type                object
Family Composition             int64
Population Base                int64
Sex                            int64
Age                            int64
Marital Status               float64
Student                        int64
Country of Birth               int64
Health                         int64
Ethnic Group                   int64
Religion                       int64
Economic Activity              int64
Occupation                     int64
Industry                       int64
Hours worked per week          int64
Approximated Social Grade      int64
dtype: object

In [6]:
refinedData = df.copy()

In [7]:
refinedData = refinedData.dropna()
pd.options.display.float_format = '{:,.0f}'.format
refinedData

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,tyrtyr,H,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,Hdasdas,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,343,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,111,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,0,5,4,2,1,1,1,2,1,1,4,3,2
5,7394750,E12000001,H,2,1,1,-6,2,2,1,2,1,1,1,9,2,3,3
7,7394832,E12000001,H,3,1,2,1,1,765,1,2,1,1,-9,-9,-9,-9,-9
8,7394719,E12000001,H,2,1,1,7,2,2,657,1,1,2,5,8,2,-9,2
9,7394840,E12000001,H,1,1,2,6,4,2,1,426,1,2,5,9,5,-9,4
10,7394510,E12000001,H,1,1,1,3,1,2,1,3,434,8,1,8,2,3,4
11,7394711,E12000001,H,2,1,1,1,1,1,1,1,1,656,-9,-9,-9,-9,-9
12,7395070,E12000001,H,1,1,2,2,1,2,1,1,1,2,-20,7,2,3,2
13,7394869,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,423,-9,-9,2
14,7394971,E12000001,H,5,1,2,2,1,2,1,2,1,2,1,7,0,2,4
15,7395019,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,7,6,856,2
16,7395069,E12000001,H,3,1,1,2,1,2,1,1,1,1,2,8,3,4,42
17,7394933,E12000001,H,3,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2,2,1,1,1,2,1,8,10,3,4
30,7394965,E12000001,H,5,1,2,4,4,2,1,1,1,2,1,2,8,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569712,7945525,W92000004,H,2,1,2,6,2,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4
569741,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

In [8]:
refinedData = refinedData.drop_duplicates()

In [18]:
regions = ["E12000001","E12000002","E12000003","E12000004","E12000005","E12000006","E12000007","E12000008","E12000009","W92000004"]
residenceType = ["C","H"]
famComp = [1,2,3,4,5,6,-9]
popBase = [1,2,3]
sex = [1,2]
age = [1,2,3,4,5,6,7,8]
maritalStatus = [1,2,3,4,5]
student = [1,2]
countryOfBirth = [1,2,-9]
health = [1,2,3,4,5,-9]
ethnicGroup = [1,2,3,4,5,-9]
rligion = [1,2,3,4,5,6,7,8,9,-9]
econActivity = [1,2,3,4,5,6,7,8,9,-9]
occupation = [1,2,3,4,5,6,7,8,-9]
industry = [1,2,3,4,5,6,7,8,9,10,11,12,-9]
hoursWorkPerWeek = [1,2,3,4,-9]
approxSocialGrade = [1,2,3,4,-9]

rowsToRemove = []

rCounter = 0
regs = refinedData['Region']
for reg in regs:
    flag = 1
    for region in regions:
                if region == reg:
                    flag = 0
    if flag == 1:
        rowsToRemove.append(rCounter)
    rCounter = rCounter + 1

rCounter = 0
res = refinedData['Residence Type']  
for r in res:
    flag = 1
    for resType in residenceType:
                if resType == r:
                    flag = 0
    if flag == 1:
        rowsToRemove.append(rCounter)
    rCounter = rCounter + 1
    
rCounter = 0
family = refinedData['Family Composition']  
for comp in family:
    flag = 1
    for f in famComp:
                if f == comp:
                    flag = 0
    if flag == 1:
        rowsToRemove.append(rCounter)
    rCounter = rCounter + 1

rCounter = 0
population = refinedData['Population Base']  
for base in population:
    flag = 1
    for pop in popBase:
                if pop == base:
                    flag = 0
    if flag == 1:
        rowsToRemove.append(rCounter)
    rCounter = rCounter + 1
    
rCounter = 0
gender = refinedData['Sex']  
for g in gender:
    flag = 1
    for gend in sex:
                if gend == g:
                    flag = 0
    if flag == 1:
        rowsToRemove.append(rCounter)
    rCounter = rCounter + 1
    
rCounter = 0
ageRange = refinedData['Age']  
for rangee in ageRange:
    flag = 1
    for agee in age:
                if agee == rangee:
                    flag = 0
    if flag == 1:
        rowsToRemove.append(rCounter)
    rCounter = rCounter + 1
    
rCounter = 0
mStatus = refinedData['Marital Status']  
for m in mStatus:
    flag = 1
    for married in maritalStatus:
                if married == m:
                    flag = 0
    if flag == 1:
        rowsToRemove.append(rCounter)
    rCounter = rCounter + 1
    
rCounter = 0
studs = refinedData['Student']  
for stud in studs:
    flag = 1
    for isStud in student:
                if isStud == stud:
                    flag = 0
    if flag == 1:
        rowsToRemove.append(rCounter)
    rCounter = rCounter + 1

for row in rowsToRemove:
    print(row)
    
for i in range(0,len(rowsToRemove)):
    i = i + 1
    refinedData.drop(refinedData.index[[i]], inplace = True)
    
refinedData

0
1
2
3
4
5
6

/usr/lib/python3.5/site-packages/IPython/kernel/__main__.py:114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,tyrtyr,H,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
2,7395066,E12000001,H,343,1,2,4,1,2,1,1,1,1,1,6,11,3,4
4,7394712,E12000001,H,3,1,0,5,4,2,1,1,1,2,1,1,4,3,2
7,7394832,E12000001,H,3,1,2,1,1,765,1,2,1,1,-9,-9,-9,-9,-9
9,7394840,E12000001,H,1,1,2,6,4,2,1,426,1,2,5,9,5,-9,4
11,7394711,E12000001,H,2,1,1,1,1,1,1,1,1,656,-9,-9,-9,-9,-9
13,7394869,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,423,-9,-9,2
15,7395019,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,7,6,856,2
16,7395069,E12000001,H,3,1,1,2,1,2,1,1,1,1,2,8,3,4,42
17,7394933,E12000001,H,3,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2,2,1,1,1,2,1,8,10,3,4
30,7394965,E12000001,H,5,1,2,4,4,2,1,1,1,2,1,2,8,2,1
31,7394872,E12000001,H,1,1,2,5,4,2,1,1,1,2,2,9,8,2,4
32,7394663,E12000001,H,1,1,2,8,5,2,1,3,1,2,5,1,5,-9,2
33,7394695,E12000001,H,2,1,2,5,2,2,1,2,1,2,3,8,2,-9,4
34,7394893,E12000001,H,1,1,1,6,1,2,1,1,1,2,5,3,2,-9,2
35,7394899,E12000001,H,2,1,2,6,2,2,1,3,1,2,5,6,12,-9,3
36,7394657,E12000001,H,2,1,1,8,2,2,1,2,1,2,5,8,2,-9,4
37,7394658,E12000001,H,2,1,2,4,2,2,1,2,1,2,1,7,4,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569711,7945320,W92000004,H,5,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
569712,7945525,W92000004,H,2,1,2,6,2,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

In [10]:
len(refinedData)

569740

In [11]:
refinedData.dtypes

Person ID                      int64
Region                        object
Residence Type                object
Family Composition             int64
Population Base                int64
Sex                            int64
Age                            int64
Marital Status               float64
Student                        int64
Country of Birth               int64
Health                         int64
Ethnic Group                   int64
Religion                       int64
Economic Activity              int64
Occupation                     int64
Industry                       int64
Hours worked per week          int64
Approximated Social Grade      int64
dtype: object

In [12]:
region = refinedData.groupby('Region')
region.size()

Region
E12000001    26347
E12000002    71436
E12000003    53471
E12000004    45782
E12000005    56875
E12000006    59411
E12000007    83582
E12000008    88084
E12000009    53774
W92000004    30977
tyrtyr           1
dtype: int64

In [31]:
residenceType = refinedData.groupby('Residence Type')
residenceType.size()

Residence Type
C           10654
H          559085
Hdasdas         1
dtype: int64

In [ ]:
familyComposition = refinedData.groupby('Family Composition')
familyComposition.size()

In [ ]:
populationBase = refinedData.groupby('Population Base')
populationBase.size()

In [ ]:
sex = refinedData.groupby('Sex')
sex.size()

In [ ]:
age = refinedData.groupby('Age')
age.size()

In [ ]:
maritalStatus = refinedData.groupby('Marital Status')
maritalStatus.size()

In [ ]:
student = refinedData.groupby('Student')
student.size()

In [ ]:
countryOfBirth = refinedData.groupby('Country of Birth')
countryOfBirth.size()

In [ ]:
health = refinedData.groupby('Health')
health.size()

In [ ]:
ethnicGroup = refinedData.groupby('Ethnic Group')
ethnicGroup.size()

In [ ]:
religion = refinedData.groupby('Religion')
religion.size()

In [ ]:
economicActivity = refinedData.groupby('Economic Activity')
economicActivity.size()

In [ ]:
occupation = refinedData.groupby('Occupation')
occupation.size()

In [ ]:
industry = refinedData.groupby('Industry')
industry.size()

In [ ]:
hoursWorkedPerWeek = refinedData.groupby('Hours worked per week')
hoursWorkedPerWeek.size()

In [ ]:
approximatedSocialGrade = refinedData.groupby('Approximated Social Grade')
approximatedSocialGrade.size()

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.patches as patch
%matplotlib inline

In [ ]:
refinedData['Region'].value_counts().plot(kind="bar")

region1_patch = patch.Patch(label='E12000008 = South East')
region2_patch = patch.Patch(label='E12000007 = London')
region3_patch = patch.Patch(label='E12000002 = North West')
region4_patch = patch.Patch(label='E12000006 = East of England')
region5_patch = patch.Patch(label='E12000005 = West Midlands')
region6_patch = patch.Patch(label='E12000009 =  South West')
region7_patch = patch.Patch(label='E12000003 = Yorkshire and the Humber')
region8_patch = patch.Patch(label='E12000004 = East Midlands')
region9_patch = patch.Patch(label='W92000004 = Wales')
region10_patch = patch.Patch(label='E12000001 = North East')

plt.legend(handles=[region1_patch,region2_patch,region3_patch,region4_patch,region5_patch,region6_patch,region7_patch,region8_patch,region9_patch,region10_patch], loc = 'lower right', bbox_to_anchor=(0.5,1.05))
plt.show()

In [ ]:
refinedData['Occupation'].value_counts().plot(kind="bar")

occupation1_patch = patch.Patch(label='-9 = People under 16 or People who have never worked')
occupation2_patch = patch.Patch(label='2 = Professional Occupations')
occupation3_patch = patch.Patch(label='9 = Elementary Occupations')
occupation4_patch = patch.Patch(label='4 = Administrative and Secreterial Occupations')
occupation5_patch = patch.Patch(label='5 = Skilled Trade Occupations')
occupation6_patch = patch.Patch(label='3 = Associate Profession and Technical Occupations')
occupation7_patch = patch.Patch(label='1 = Managers, Directors and Senior Officals')
occupation8_patch = patch.Patch(label='7 = Sales and Customer Service Occupations')
occupation9_patch = patch.Patch(label='6 = Caring, Leisure and Other Service Occupations')
occupation10_patch = patch.Patch(label='8 = Process Plant and Machine Operatives')

plt.legend(handles=[occupation1_patch,occupation2_patch,occupation3_patch,occupation4_patch,occupation5_patch,occupation6_patch,occupation7_patch,occupation8_patch,occupation9_patch,occupation10_patch], loc = 'lower right', bbox_to_anchor=(0.5,1.05))
plt.show()

In [ ]:
refinedData['Age'].value_counts().plot(kind="pie")

red_patch = patch.Patch(color='red', label='5 = 45-54 years')
green_patch = patch.Patch(color='green', label='4 = 35-44 years')
pink_patch = patch.Patch(color='magenta', label='2 = 16-24 years')
yellow_patch = patch.Patch(color='yellow', label='6 = 55-64 years')
black_patch = patch.Patch(color='black', label='7 = 65-74 years')
blue_patch = patch.Patch(color='blue', label='1 = 0-15 years')
bluer_patch = patch.Patch(color='blue', label='8 = 75 and Over years')

plt.legend(handles=[red_patch, green_patch, pink_patch, yellow_patch, black_patch, blue_patch, bluer_patch], loc = 'lower right', bbox_to_anchor=(0.5,1.05))
plt.show()

In [ ]:
refinedData['Economic Activity'].value_counts().plot(kind="pie")

red_patch = patch.Patch(color='red', label='5 = Retired')
green_patch = patch.Patch(color='green', label='-9 = Aged under 16 or Student Living away from Home')
pink_patch = patch.Patch(color='magenta', label='6 = Student')
yellow_patch = patch.Patch(color='yellow', label='3 = Unemployed')
black_patch = patch.Patch(color='black', label='8 = Long-term sick or Disabled')
blue_patch = patch.Patch(color='blue', label='1 =  Employee')
bluer_patch = patch.Patch(color='blue', label='7 = Looking after home or family')
greener_patch = patch.Patch(color='green', label='4 = Full-time Student')
reder_patch = patch.Patch(color='red', label='9 = Other')

plt.legend(handles=[red_patch, green_patch, pink_patch, yellow_patch, black_patch, blue_patch, bluer_patch,reder_patch,greener_patch ], loc = 'lower right', bbox_to_anchor=(0.5,1.05))
plt.show()

In [ ]:
byReligionAndIndustry = refinedData.groupby(['Religion', 'Industry']).count()
#DataFrame({'count' : byReligionAndIndustry.groupby( [ "Religion", "Industry"] ).size()}).reset_index()
byReligionAndIndustry.reset_index()

In [ ]:
byOccupationAndSocialGrade = refinedData.groupby(['Occupation', 'Approximated Social Grade']).count()
#DataFrame({'count' : byRecordsAndSocialGrade.groupby( [ "Occupation", "Approximated social grade"] ).size()}).reset_index()
byOccupationAndSocialGrade.reset_index()